/* Page du site par défaut */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */ 
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

/* Texte + style du header */
nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    align-items: center;
}

nav ul li {
    text-align: center;
}

nav ul li a {
    padding: 3vh;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

/* Logo du header */
header img {
    max-width: 8vh;
    height: auto;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

/* CONTACT.HTML */
header h1 {
    margin-bottom: 0.5em;
}

header p {
    margin-bottom: 2em;
}

.contact-header {
    text-align: center;
    padding: 2em;
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
}

.contact-info div {
    max-width: 600px;
}

.contact-info h2 {
    color: #333;
}

.contact-info p {
    margin: 0.5em 0;
}

a {
    color: #0066cc;
}

.appointment-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: grid;
    gap: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

select,
input,
textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}