/* Pour définit la couleur du texte classique */
p{color: orangered}
/* # Pour définir la couleur d'1 seul et unique ID */
#Orange {color: orange;}
/* . Pour définir la couleur d'un groupe de classe */
.Rouge {color: red;}
.Fuchsia {color: fuchsia;}

/* Permet de mettre un rectangle noir de 1 pixel autour des mots */
tr, td, th, table {
    border: 1px solid black;
    border-color: orange; 
}

/* Permet d'aligner le texte au centre de la case */
tr td {
    text-align: center
}

.colorbackground {color: black; background-color: gray;}
.colorbackground2 {color: black; background-color: darkorange;}
