/*COULEURS*/

/*Définir le background de la page*/
body {
    background-color: black;
  }
/* Pour définit la couleur du texte classique */
p{color: orangered}
/* # Pour définir la couleur d'1 seul et unique ID */
#Orange {color: orange;}
/* . Pour définir la couleur d'un groupe de classe */
.Rouge {color: red;}
.Fuchsia {color: fuchsia;}

.colorbackground {color: black; background-color: gray;}
.colorbackground2 {color: black; background-color: darkorange;}

/* Permet de mettre un rectangle noir de 1 pixel autour des mots */
tr, td, th, table {
    border: 1px solid black;
    /* border-collapse: collapse; */
    border-color: orange; 
    border-radius: 28px;
    border-spacing: 0px;
    font-family: 'Courier New', Courier, monospace;
}

/* Permet d'aligner le texte au centre de la case */
tr td {
    text-align: center
}

/* Permet de mettre de la couleur sur le 3ème enfant.*/
tr:nth-child(3) {
    background-color: brown;
}

/* Défini une classe spécialement pour TR */
.test999 tr {
    background-color: blueviolet;
}