.atm-container {
    max-width: 400px;
    margin: 2em;
    background-color: #f0f0f0; /* Couleur de fond gris */
    padding: 20px; /* Espacement interne pour l'encadrement gris */
    border-radius: 10px; /* Coins arrondis pour l'encadrement */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Ombre pour l'encadrement */
}

.atm-content {
    text-align: center;
}

.pin-display {
    width: 100px;
    height: 50px;
    margin: 10px auto;
    padding: 5px;
    border: 2px solid #000;
    font-size: 24px;
    line-height: 40px;
    background-color: #fff;
}

.keyboard {
    margin-top: 10px;
}

.key-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.key {
    position: relative; /* Ajout d'une position relative pour les boutons */
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
}

.key:hover {
    background-color: #eee;
}

.decliner{
    text-decoration: underline;
    color: red;
}

.retour{
    text-decoration: underline;
    color: yellow;
}

.entrer{
    text-decoration: underline;
    color: green;
}