section {
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50%);
    width: 384px;
    /* height: 100px; */
    background-color: rgba(128,128,128,0.693);
    border: 3px solid black;
    display: flex;
    position: relative;
}