tr, td, th, table {
    vertical-align: middle;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.img1{
    vertical-align: middle;
    text-align: center; 
}

.img2{
    float: left; /* Aligne l'image à gauche */
    margin-right: 10px;
}

.texte1{
    vertical-align: middle;
    text-align: center; 
    background-color: black;
    color: white;
}

.texte2{
    vertical-align: middle;
    text-align: center; 
    background-color: green;
    color: white;
}

.texte3{
    vertical-align: middle;
    text-align: center; /* Pour centrer horizontalement si nécessaire */
    background-color: yellow;
}

.texte4{
    vertical-align: middle;
    text-align: center; /* Pour centrer horizontalement si nécessaire */
    background-color: black;
    color: white;
    width: 8%;
}

.pays1 {
    vertical-align: text-bottom; /* Alignement vertical au milieu */
    text-align: left; /* Alignement horizontal à gauche */
}

tr:hover {
    background-color: rgba(172, 172, 172, 0.521); /* Changez la couleur comme vous le souhaitez */
}

.texte3:hover {
    background-color: rgba(172, 172, 172, 0.521); /* Changez la couleur comme vous le souhaitez */
    color: #16defd; /* Changez la couleur comme vous le souhaitez */
}
