/******************* NAV BAR *******************/
body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

nav {
    position: fixed;
    top: 0; right: 0; left: 0;
    padding: 0 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    list-style-type: none;
    margin: 0; 
    padding: 0; 
}

nav ul li {
    margin-right: 10px;
}

nav ul a {
    display: inline-block; 
    padding: 10px 20px;
    border-radius: 0; 
    color: #000;
    text-decoration: none;
}


/******************* CONTENT DE L'INDEX *******************/
/* Styles pour le contenu au milieu de la page */
.content {
    text-align: center;
    padding: 20px;
    background-image: url('fond1.png');
    height: 50vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Style gros titre */
.content h1 {
    font-size: 2.5em;
    color: #000; 
    margin-bottom: 15px;
    margin-top: 70px;
}

/* Style du descriptif */
.content p {
    font-size: 1.3em;
    color: #333; 
    margin-bottom: 20px;
}

/* Style du bouton rectangle */
.rectangular-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    border-radius: 0; 
    color: #fff; 
    text-decoration: none;
    font-size: 1.3em;
}

/* Style texte*/
.text1 p, .texte2 p {
    text-align: left;
    margin-left: 100px;
    margin-top: 40px;
    display: flex;
}

.text1 p {
    font-size: 2em;
    color: rgb(187, 0, 0);
}

.text2 {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    text-align: justify;
    margin: 0 100px; 
}

.text2 p {
    font-size: 1.3em;
    color: black;
}

.photomuscu {
    max-width: 12%;
    margin-top: 5%;
}

.container {
    display: flex;
    justify-content: space-between;
}

.left-side, .right-side {
    width: 50%; 
    padding: 10px;
}

.photomuscu1 {
    max-width: 40%; 
}

/******************* MEDIA QUERY POUR MENU HAMBURGER *******************/
box-icon[name='menu'], box-icon[name='x'] {
    display: none;
}

@media screen and (max-width: 950px) {
    nav ul {
        display: none;
    }
    box-icon[name='menu'] {
        display: contents;
    }
}

.MenuNav {
    background-color: rgb(44, 44, 44);
    bottom: 0;
}
.MenuNav div box-icon, .MenuNav span {
    display: none;
}

.MenuNav box-icon[name='x'] {
    position: absolute;
    top: 25px;
    right: 25px;
    display: block;
}

.MenuNav ul {
    margin: 0 auto 0 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.MenuNav ul li {
    margin: 15px 0;
    font-size: 1.4em;
}


