/* Page du site par défaut */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */ 
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

/* Texte + style du header */
nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    align-items: center;
}

nav ul li {
    text-align: center;
}

nav ul li a {
    padding: 3vh;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

/* Logo du header */
header img {
    max-width: 8vh;
    height: auto;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

/* VEHICULE.HTML */
.car-presentations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
    max-width: 800px; 
    margin: 20px auto; 
}

.car-presentation {
    text-align: center;
}

.car-presentation img {
    max-width: 100%; 
}

.car-presentation img {
    max-width: 100%;
    height: 20vh;
    object-fit: contain;
}

/* VEHICULES.HTML */
/* Permet d'avoir l'ouverture de la fenêtre et la fermeture */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

/* Styles pour le bouton de fermeture */
.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}